name: CLOUD_ARMY_TURBO
on:
  push:
  schedule:
    - cron: '*/5 * * * *' # Har 5 minute baad auto run ho ga

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Requirements
        run: pip install requests
      - name: Run Turbo Strike
        run: python bot.py
